<div class="row justify-content-sm-center">
  <form class="col-8">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search expressions">
      <div class="input-group-btn submit-btn-div">
        <button type="button" class="btn btn-primary btn-default">Search</button>
      </div>
    </div>
  </form>
</div>

<div class="tags row justify-content-sm-center">
  <div class="col-10">
    <span class="badge badge-default" *ngFor="let tag of tagList"> {{tag}} </span>
  </div>
</div>
